<section class="bg-gray-50">
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
            Berantas Tuberkulosa
          <strong class="font-extrabold text-teal-600 sm:block"> Untuk Perusahaan Sehat. </strong>
        </h1>
  
        <p class="mt-4 sm:text-xl/relaxed">
            Ayo mulai sadar dengan gejala penyakit TBC,

            langkah pertama menuju kesehatan yang lebih baik.
        </p>
  
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a
            class="block w-full rounded bg-teal-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-teal-700 focus:outline-none focus:ring active:bg-teal-600 sm:w-auto duration-200"
            href="#"
          >
            Mulai Screening
          </a>
        </div>
      </div>
    </div>
  </section>